body {

    line-height: 19px;
}

.flex-container {
    display: flex;
    align-items: stretch;
    flex-direction: row;

    /* background-color: #f1f1f1; */
}

.bottom-image {
  /*  margin-left: auto;
    margin-right: auto;
    display: block; */
    width: 40%;

}




.flex-container > div {
    /* background-color: DodgerBlue;
     color: white; */
    margin: 10px;
    text-align: left;
    /*line-height: 75px; */
}

.video {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {

    font-family: 'Cutive Mono', monospace;
    font-size: 15px;
    margin-right: 20%;


}

.margin-left {

    margin-left: 10px;
}

img {
    max-width: 90%;
}

.margin-right {

    margin-right: 15%;
}


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media screen and (max-width: 800px) {
    .flex-container {
        flex-direction: column !important;
    }

    .video {
        width: 100% !important;
    }

    #bottom-image {
        /*  margin-left: auto;
          margin-right: auto;
          display: block; */

        width: 100%;

    }

    body {
        margin-right: 10%;
    }
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;}

li {
    margin-top: 30px;
}


